# ref: https://mise.jdx.dev/configuration.html
#:schema https://mise.jdx.dev/schema/mise.json

[tools]
bun = "1.2.7"
node = "23.10.0"
biome = "1.9.4"
# required for actionlint
shellcheck = "0.10.0"
actionlint = "1.7.7"
"aqua:suzuki-shunsuke/ghalint" = "1.3.0"
"aqua:suzuki-shunsuke/pinact" = "3.0.1"
taplo = "0.9.3"
yamlfmt = "0.16.0"
# required for pipx backend
uv = "0.6.10"
yamllint = "1.37.0"
typos = "1.31.0"
"npm:ignore-sync" = "8.0.0"
"npm:jschema-validator" = "1.0.12"

[settings]
experimental = true

[settings.npm]
bun = true

[settings.pipx]
uvx = true

[task_config]
includes = ["tasks.toml", "tasks"]

[hooks]
postinstall = """
{% if env.CI is undefined %}
  mise run buni
{% endif %}
"""
